.component{
    width: auto;
    margin-left: 10vh;
    margin-top: 10vh;
    border-width: thin;
    border-style: solid;
    padding: 5px;
    font-weight:bold;
    justify-content:center;
}

.description{
    font-weight:Normal;
    font-size:small;
}